<%- include header %>
<form method="post">
  Username:  <input type="text" name="name"/><br />
  Password:    <input type="password" name="password"/><br />
  Confirm Password:<input type="password" name="password-repeat"/><br />
  Email Address:    <input type="email" name="email"/><br />
           <input type="submit" value="Sign up"/>
</form>
<%- include footer %>